<div class="row" ng-app="app" ng-controller="consumersCtrl" ng-init="setup(<%= @consumer.id %>)">
  <!-- <h1 class="">{{consumer.name}}</h1> -->
  <div class="red lighten-4 col s3">
    <div class="input-field">
      <input id="search" type="search" required>
      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
      <i class="material-icons">close</i>
    </div>
    <div class="row" ng-repeat="card in cards">
      <div class="card-panel hoverable container col s12 red lighten-5">
        <div>{{card.merchant_name}}</div><br>
        <div>level: {{card.level}}</div> <br>
        <div>total: {{card.total}}</div>
        <div>{{card.redeemable}}</div>
        <div class="right-align"><a href="/cards/{{card.id}}">view</a></div>
      </div>
    </div>    
  </div>

  <div class="col s9">
    <div>{{consumer.name}}'s cards</div>
  </div>
</div>