<div class="row" ng-app="app" ng-controller="consumersCtrl" ng-init="setup(<%= @consumer.id %>); initiLargemap(card)">

<!-- google map -->
    <!-- <div id="map"></div> -->

  <!-- SIDE BAR START -->
  <div class="lighten-4 col s12 m12 l3">
    <div class="input-field">
      <input ng-model="cardFilter" id="search" type="search" required>
      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
      <i class="material-icons">close</i>
    </div>

    <div class="row cardRow" ng-repeat="card in cards | filter: cardFilter | orderBy :  'reward_progress' : reverse=true">
      <div class="card-panel hoverable container col s12" ng-click="showCard(card); initSmallMap(card); initLargeMap(card);">
        <div class="cardTitleRowSmall row">
          <div class="smallCardHeader center-align"><img class="cardLogoSmall circle responsive-img col l4" ng-src="{{card.image}}" alt=""><h5 class="col l8">{{card.merchant_name}}</h5></div>
        </div>
        <div>level {{card.level}}</div>
        <div>${{card.total}} / ${{card.reward_threshold}}</div>
        <div ng-if="!card.active_merchant"> <a class="requestBtn center-align waves-effect waves-green btn-flat">request</a></div>
        <div>
              <ul class="collapsible" data-collapsible="accordion" ng-if="card.active_merchant">
                <li class="expanded-card-details">
                  <div class="collapsible-header progress">
                          <div class="determinate" ng-style="rewardProgressPercentObj[cards.indexOf(card)]">{{card.reward_name}}</div>
                  </div>
                  <div class="collapsible-body">
                     <div>total: ${{card.total}} / ${{card.reward_threshold}} ({{card.reward_progress.toFixed(2) * 100 | number : 0}}%)</div>
                    <!-- google map -->
                    <div id="mapSmall"></div>
                   <table class="striped">
                    <thead>
                      <tr>
                        <th data-field="date">date</th>
                        <th data-field="amount">amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="transaction in transactions">
                        <td>{{transaction.created_at | date:'medium'}}</td>
                        <td>${{transaction.amount | number:2}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </li>
            </ul>
        </div>
    </div>
  </div>
</div>
<!-- SIDE BAR END -->

<!-- MAIN CONTENT START -->
<div class="mainContent card-panel hide-on-med-and-down col l9" ng-if="showCardInfo">
  <div class ="container">
    <div class="cardTitleRow row">
      <div class="largeCardHeader center-align"><img class="cardLogoLarge circle responsive-img col l4" ng-src="{{merchantLogo}}" alt=""><h2 class="col l8">{{card.merchant_name}}</h2></div>
    </div>

      <div class= "center-align"><h5>level: {{card.level}} ${{card.total}} / ${{card.reward_threshold}}</h5></div>
    <!-- google map -->
    <div id="mapLarge"></div>
        <table class="striped">
      <thead>
        <tr>
          <th data-field="date">date</th>
          <th data-field="amount">amount</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="transaction in transactions">
          <td>{{transaction.created_at | date:'medium'}}</td>
          <td>${{transaction.amount | number:2}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- MAIN CONTENT END -->
</div>