<div class="row" ng-app="app" ng-controller="consumersCtrl" ng-init="setup(<%= @consumer.id %>)">

  <div class="red lighten-4 col s3">
    <div class="input-field">
      <input id="search" type="search" required>
      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
      <i class="material-icons">close</i>
    </div>
    <div class="row" ng-repeat="card in cards">
      <div class="card-panel hoverable container col s12 red lighten-5" ng-click="showCard(card)">
        <div>{{card.merchant_name}}</div><br>
        <div>level: {{card.level}}</div> <br>
        <div>total: {{card.total}}</div>
        <div>{{card.redeemable}}</div>
        <div class="right-align"><a href="/cards/{{card.id}}">view</a></div>
      </div>
    </div>    
  </div>

  <div class="col s9">
    <div class ="container">
      <div>{{card.merchant_name}}</div>
      <table class="striped">
        <thead>
          <tr>
            <th data-field="date">date</th>
            <th data-field="amount">amount</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="transaction in transactions">
            <td>{{transaction.created_at | date:'medium'}}</td>
            <td>${{transaction.amount | number:2}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>