<div><%= current_consumer.name %></div>

<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>

<button id="link-button">Open Link</button>

<script>
window.onload = function(){
  console.log('<%="#{ENV['PLAID_PUBLIC']}"%>');
};

var linkHandler = Plaid.create({
 env: 'development',
 // env: 'tartan',
 clientName: 'does this even matter',
 // Replace '[PUBLIC_KEY]' with your own `public_key`
 key: "<%= ENV['PLAID_PUBLIC_KEY']%>",
 product: ['auth'],
 // product: 'connect',
 onSuccess: function(public_token, metadata) {
  console.log(public_token, metadata);

   // Send the public_token to your app server here.
   // The metadata object contains info about the
   // institution the user selected and the
   // account_id, if selectAccount is enabled.
 },
 onExit: function(err, metadata) {
   // The user exited the Link flow.
   if (err != null) {
     // The user encountered a Plaid API error
     // prior to exiting.
   }
   // metadata contains information about the
   // institution that the user selected and the
   // most recent API request IDs. Storing this
   // information can be helpful for support.
 }
});
// Trigger the standard institution select view
document.getElementById('link-button').onclick = function() {
 linkHandler.open();
};
</script>