<div ng-app="app">
  <div ng-controller="cardsCtrl" ng-init="setup(<%= @card.id %>)">
    <div><%= @current_total %></div>
    <div>
      merchant: {{card.merchant_name}}
      total: {{card.total}}
      level: {{card.level}}
    </div>
    <div ng-repeat="transaction in card.transactions">
      amount: {{transaction.amount}}
      date: {{transaction.created_at}}
    </div>
  </div>
</div>