

@import "materialize";

.reward-name {
  width: 60%;
  height: 100%;
  // background-color: green;
}

#mapSmall {
        width: 100%;
        height: 400px;
      }

#mapLarge {
        width: 100%;
        height: 400px;
      }

.expanded-card {
  width: 100%;
  border-radius: 8px;
}

html {
    font-family: Open Sans, Calibri, Trebuchet, sans-serif;
  }

#cardRow {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 0px;
}

#largeCardHeader {
  font-family: "Indie Flower" !important;
}

#niceOpenSans {
  font-family: "Open Sans script=all rev=1";
  font-weight: 400;
}

// h1,h2,h3,h4 {
//   font-family: 'Indie Flower', cursive;
// }