

@import "materialize";

.reward-name {
  width: 60%;
  height: 100%;
  // background-color: green;
}

#mapSmall {
        width: 100%;
        height: 400px;
      }

#mapLarge {
        width: 100%;
        height: 400px;
      }

.expanded-card {
  width: 100%;
}