<!DOCTYPE html>
<html>
  <head>
    <title>Punch</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Quicksand|Titillium+Web" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <!-- angular materialize -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.2/angular-materialize.min.js"></script>

<!-- google maps scripts -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgXAyeHvPZsZJ7nqDxDSpSUXSvcrs6Bog&libraries=places"></script>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>

    <%= yield %>
  </body>
</html>